<!DOCTYPE html>
<html>
  <head>
    <title>Synthetic Voice Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/wavesurfer.js"></script>
  </head>
  <body>
    <div class="container-introduce" id="first">
        <div class="anothercat">
            <div class="waviy">
            <span style="--i:1">Y</span>
            <span style="--i:1">o</span>
            <span style="--i:1">n</span>
            <span style="--i:1">s</span>
            <span style="--i:1">e</span>
            <span style="--i:1">i</span>
            <span style="--i:2"> </span>
            <span style="--i:2"> </span>
            <span style="--i:2"> </span>
            <span style="--i:3">A</span>
            <span style="--i:3">r</span>
            <span style="--i:3">t</span>
            <span style="--i:3">i</span>
            <span style="--i:3">f</span>
            <span style="--i:3">i</span>
            <span style="--i:3">c</span>
            <span style="--i:3">i</span>
            <span style="--i:3">a</span>
            <span style="--i:3">l</span>
            <span style="--i:4"> </span>
            <span style="--i:4"> </span>
            <span style="--i:4"> </span>
            <span style="--i:5">I</span>
            <span style="--i:5">n</span>
            <span style="--i:5">t</span>
            <span style="--i:5">e</span>
            <span style="--i:5">l</span>
            <span style="--i:5">l</span>
            <span style="--i:5">i</span>
            <span style="--i:5">g</span>
            <span style="--i:5">e</span>
            <span style="--i:5">n</span>
            <span style="--i:5">c</span>
            <span style="--i:5">e</span>
            </div>
        </div>
        <div class="sayhello" id="hello">
            <div class="waviy">
                <span style="--i:1">S</span>
                <span style="--i:2">y</span>
                <span style="--i:3">n</span>
                <span style="--i:4">t</span>
                <span style="--i:5">h</span>
                <span style="--i:6">e</span>
                <span style="--i:7">t</span>
                <span style="--i:8">i</span>
                <span style="--i:9">c</span>
            </div><br>
            <div class="waviy">
                <span style="--i:11">V</span>
                <span style="--i:12">o</span>
                <span style="--i:13">i</span>
                <span style="--i:14">c</span>
                <span style="--i:15">e</span>
                <span style="--i:16"> </span>
                <span style="--i:17">D</span>
                <span style="--i:18">e</span>
                <span style="--i:19">t</span>
                <span style="--i:20">e</span>
                <span style="--i:21">c</span>
                <span style="--i:22">t</span>
                <span style="--i:23">i</span>
                <span style="--i:24">o</span>
                <span style="--i:25">n</span>
            </div>
        </div>
        <button id="promote" class="githubbtn" onclick="location.href = 'https://github.com/junia3/Synthetic-Speech-Detection' ">Visit our github page!!</button>
    </div>
    <div class="container-introduce" id="second">
        <div class="container" id="spoof">
            <h1 class="title">We can detect spoofing voice</h1>
            <br><br>
            <label for="audio-file">Choose an audio file</label>
            <input type="file" class="audio-button" name="audio-file" id="audio-file">
            <button type="button" class="upload" onclick="uploadAndPlay()">Upload and play</button>
            <br><br><br>
            <input id="upload-name" value="파일을 선택해주세요" placeholder="첨부파일">
        </div>
        <div class="audio-wrapper" id="original">
            <div class="music">
                <div class="track">
                    <img src="static/image/play.png" id="playBtn">
                    <div id="waveform"></div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-aug", id="augmentation">
            <label for="pitch">Pitch</label>
            <br><br>
            <input type="range" min="-10" max="10" value="0" step="1" class="slider" id="pitch" name="pitch"><br><br>
            <span id="pitch-value">0</span><br><br>
            <label for="noise">Noise</label>
            <br><br>
            <input type="range" min="0" max="10" value="5" class="slider" id="noise" name="noise"><br><br>
            <span id="noise-value">5</span><br><br>
            <br><br>
            <button class="augment" onclick="augmentAudio()"> Apply Augmentation </button>
        </div>
        <div class="container" id="loading-aug">
            <img src="https://i.gifer.com/yy3.gif" width="200">
        </div>
        <div class="audio-wrapper" id="augmented">
            <div class="music">
                <div class="track">
                    <img src="static/image/play.png" id="playBtn2">
                    <div id="waveform2"></div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-try" id="try">
            <br><br>
            <button class="infer" onclick="uploadAudio()"> Try Me! </button>
        </div>
    </div>
    <div class="container" id="loading-spinner">
        <img src="https://i.gifer.com/XOsX.gif" width="200">
    </div>
    <div class="container" id="resultshow">
        <div class="row">
          <div class="col-md-12 text-center">
                <h3 id="animate-charcter"></h3>
          </div>
        </div>
    </div>
    <div class="card-container" id="letter">
        <div class="card card-1">
            <p align="center">
                Dear valued customers,
            </p>
            <p align="left" style="font-size: 1em;"> 
                We hope this letter finds you well. We wanted to take a moment to thank you for choosing our service and entrusting us with your security needs.
            </p>
            <p align="left" style="font-size: 1em;">
                We understand the importance of protecting your sensitive information from fraudulent activities such as voice spoofing. That's why we've implemented a cutting-edge deep learning model to detect whether a voice is synthesized or not, allowing us to provide you with the highest level of security.
            </p>
            <p align="left" style="font-size: 1em;">
                Our team of experts has worked tirelessly to develop and refine this technology, ensuring that it is accurate and reliable. With our service, you can rest assured that your voice data is in good hands and that we will do everything in our power to protect you from any potential threats.
            </p>
            <p align="left" style="font-size: 1em;">
                We appreciate your continued support and trust in our service. If you have any questions or concerns, please don't hesitate to reach out to our customer support team. We are always here to help.
            </p>
            <p align="left" style="font-size: 1em;">
                Thank you again for choosing our service. We look forward to serving you for many years to come!
            </p>   
            <p align="left" style="font-size: 1em;">
                Best regards,   
            </p>
            <p align="cebter" style="font-size: 1.5em;">
                05. 13. 23,  Synthetic Voice Detection Team
            </p>
        </div>
    </div>
    <script>
        const fileInput = document.getElementById('audio-file');
        fileInput.addEventListener('change', (event) => {
            const fileName = event.target.files[0].name;
            const inputField = document.getElementById('upload-name');
            inputField.value = fileName;
        });
    </script>
    <script>
        // Get the sliders and text elements
        var pitchSlider = document.getElementById("pitch");
        var noiseSlider = document.getElementById("noise");

        var pitchText = document.getElementById("pitch-value");
        var noiseText = document.getElementById("noise-value");

        // Update the text elements whenever a slider value changes
        pitchSlider.oninput = function() {
        pitchText.innerHTML = this.value;
        }

        noiseSlider.oninput = function() {
        noiseText.innerHTML = this.value;
        }

    </script>
    <script>
        
        var linGrad = document.createElement('canvas').getContext('2d').createLinearGradient(0, 0, 1000, 128);
        linGrad.addColorStop(0, '#ff006c'); 
        linGrad.addColorStop(0.5, '#b621fe');
        linGrad.addColorStop(1, '#1fd1f9');

        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#ddd',
            progressColor: linGrad,
            barWidth: 3,
            responsive: true,
            height: 100,
            barRadius: 4
        });
        var wavesurfer2 = WaveSurfer.create({
            container: '#waveform2',
            waveColor: '#ddd',
            progressColor: linGrad,
            barWidth: 3,
            responsive: true,
            height: 100,
            barRadius: 4
        });
        var playBtn = document.getElementById("playBtn");
        var playBtn2 = document.getElementById("playBtn2");

        // Waveform 1
        playBtn.onclick = function(){
            wavesurfer.playPause();
            if(playBtn.src.includes("play.png")){
                playBtn.src = "static/image/pause.png";
            } else{
                playBtn.src = "static/image/play.png";
            }
        }
        wavesurfer.on('finish', function(){
            playBtn.src = "static/image/play.png";
            wavesurfer.stop();
        })

        // Waveform2
        playBtn2.onclick = function(){
            wavesurfer2.playPause();
            if(playBtn2.src.includes("play.png")){
                playBtn2.src = "static/image/pause.png";
            } else{
                playBtn2.src = "static/image/play.png";
            }
        }
        wavesurfer2.on('finish', function(){
            playBtn2.src = "static/image/play.png";
            wavesurfer2.stop();
        })


    </script>
    <script>
        var inferPath;
        function uploadAndPlay() {
            // Get each elements by ID
            const fileInput = document.getElementById("audio-file");
            const ogWaveform = document.getElementById("original");
            const augmentblock = document.getElementById("augmentation");
            const letter = document.getElementById('letter');
            const result = document.getElementById('resultshow');
            
            // Audio file
            const file = fileInput.files[0];
            const url = URL.createObjectURL(file);
            ogWaveform.style.display = "block";
            augmentblock.style.display = "block";
            letter.style.display = "none";
            result.style.display = "none";
            wavesurfer.load(url);
        }

        function augmentAudio() {
            const formData = new FormData();
            const augWaveform = document.getElementById("augmented");
            const inference = document.getElementById('try');
            const loadingAug = document.getElementById('loading-aug');
            const letter = document.getElementById('letter');
            const result = document.getElementById('resultshow');

            formData.append('audio-file', document.getElementById('audio-file').files[0]);
            formData.append('pitch', document.getElementById('pitch').value);
            formData.append('noise', document.getElementById('noise').value);

            augWaveform.style.display = "none";
            loadingAug.style.display = 'block';
            letter.style.display = "none";

            fetch('/apply-augmentation', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                // Hide the loading spinner
                loadingAug.style.display = 'none';
                augWaveform.style.display = "block";
                inference.style.display = "block";
                result.style.display = "none";
                
                // Load audio file on waveform 
                wavesurfer2.load(data.result);
                inferPath = data.result;
            });
        }

        function uploadAudio() {
            const formData = new FormData();
            formData.append('audio-path', inferPath);
            // Show the loading spinner
            const showResult = document.getElementById('resultshow');
            const loadingSpinner = document.getElementById('loading-spinner');
            const letter = document.getElementById('letter');
            const inference = document.getElementById('try');
            const result = document.getElementById('resultshow');
            loadingSpinner.style.display = 'block';
            showResult.style.display='none';

            fetch('/upload-audio', {
              method: 'POST',
              body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Hide the loading spinner
                loadingSpinner.style.display = 'none';
                // Show the result again
                showResult.style.display = 'block';
                // show the letter
                letter.style.display = 'block';
                inference.style.display = "none";
                result.style.display = "block";
                // Update the HTML content of the result div with the inference result
                document.getElementById('animate-charcter').innerHTML = data.result;
            })
            .catch(error => {
                console.error(error);
                // Hide the loading spinner in case of error
                loadingSpinner.style.display = 'none';
                letter.style.display = 'none';  
                // Show the result again
                showResult.style.display = 'none';
            });
        }
    </script>
  </body>
</html>
